html, body {
    background:#FFF;
    font-family: 'Open Sans', sans-serif;
}
a, a:hover, a:active, a:visited, a:hover:active {
    color: #FFF;
    text-decoration: none;
}

.section-title {
    margin-top: 100px;
}

.direction-title {
    font-size: 20px;
    line-height: 28px;
    color: #787f8c;
    font-weight: light;
}

.jumbotron {
    background-color: #3b4456;
    margin-bottom: 0px;
    color: #FFF;
}

.img-edit {
    margin: 0 auto;
}

.line-height {
    line-height: 20pt;
    font-size: 16px;
}

.section-home {
    margin-bottom: 20px;
}

.pull-middle {
	display: table-cell;
  vertical-align: middle;
	float: none;
}

/* @media only screen and (max-width:576px) {
   .pull-middle {
   display: block;
   }
} */

.caption-image {
  padding: 20% 0px;
}

.thumbnail_container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom:20px;
}

.thumbnail {
    position:absolute;
    width:100%;
    height:100%;
    border: none;
}
.thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

img.sponsor{
    max-height:100%;
    max-width:100%;
}

.col-berita {
    margin: 10px;
}

.btn-utama, .btn-utama:visited  {
    background: #33b7af;
    border-color: #1d9a93;
}

.btn-utama:hover, .btn-utama:active, .btn-utama:hover:active {
    background: #208a83;
    border-color: #1d9a93;
}

.btn-ditandai, .btn-ditandai:visited {
    color: #FFF;
    background: #ec9797;
    border-color: #da7e7e;
}

.btn-ditandai:hover, .btn-ditandai:active, .btn-ditandai:hover:active {
    color: #FFF;
    background: #c76161;
    border-color: #ec9797;
}

.btn-priedit, .btn-priedit:visited   {
    background-color: #64a4da;
    border-color: #4a90ce;
}

.btn-priedit:hover, .btn-priedit:active, .btn-priedit:hover:active {
    background-color: #3972a2;
    border-color: #29608e;
}

.post-title {
    margin-top: 0px;
}

.post-data {
    margin-bottom: 10px;
    color: #8e8e8e;
}
